{% if project.type == "Executable" %}
{% if language.name == "C" %}
// ISO Includes
#include <stddef.h>
#include <stdio.h>

int main(void) {
    printf("Hello world!\n");
    return 0;
}
{% elif language.name == "C++" %}
// ISO C Includes
#include <cstddef>

// ISO C++ Includes
#include <iostream>

auto main() -> int {
    std::println(std::cout, "Hello world!");
    return 0;
}
{% endif %}
{% elif project.type == "Static Library" or project.type == "Shared Library" %}
// Local Includes
#include <{{ project.namespace }}/{{ project.name }}{{ language.hdr_ext }}>
{% endif %}
